/* if flex direction == row
    justify-content => X
    align-items => Y
    align-content => Y
    if flex direction == column
    justify-content => Y
    align-items => X
    align-content => X
*/
.parent {
    height: 500px;
    background-color: rgb(165, 42, 118);
    padding: 10px;
    display: flex;
}

.parent div {
    padding: 10px;
    margin: 10px;
}
.item1 {
    background-color: aquamarine;
    align-self: ; /* the used in child*/
    order: ; /* (arrengment)used num(1,2,3,etc) to control the site */
}
.item2 {
    background-color: blanchedalmond;
}
.item3 {
    background-color: green;
}
.item4 {
    background-color: greenyellow;
}